*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(back2.jpg);
    background-size: cover;
}
@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
.container{
    color: white;
    font-size: 100px;
    display: flex;
    max-width: 90%;
    background: linear-gradient(rgb(0, 0, 0,0.5),rgba(0, 0, 0, 0.5));
    height: 95vh;
    top: 2.5vh;
    position: relative;
    margin-left: 5%;
    font-family: Lato,sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.panel-0,.panel-1{
    background-color: rgba(0, 0, 0, 0.123);
    flex: 50%;
}
.active .playername{ 
    font-weight: 500;
    color: rgb(176, 255, 73);
}
.active .playername::after {
    content: "\2022";
    font-size: 40px;
    position: relative;
    color: #C4E538;
    top: -10vh;
}
.playername{
    font-size: 70%;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20%;
    font-weight: 250;
}
.score{
    text-align: center;
    font-weight: 400;
    font-size: 50%;
    margin-top: 5%;
    color: #C4E538;
}
.box{
    color: #000;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20%;
    margin-left: 35%;
    padding: 1%;
    font-weight: 300;
    display: inline-block;
    background-color:  #C4E538;
}
.current-score{
    margin-top: 10%;
    font-size: 20%;
    font-weight: 700;
}
.current-label{
    font-size: 40%;
}
.dice-space{
    width: 20vw;
    height: 95vh;
    position: absolute;
    top: 2.5vh;
    left: 40vw;
}
img{
    width: 30%;
    position: absolute;
    top: 30vh;
    left: 35%;
}
button:focus{
    outline: none;
}
button{
    color: #C4E538;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    font-family: Lato;
    font-size: 180%;
    font-weight: 300;
    cursor: pointer;
    border: 0.5px solid #C4E538;
    padding: 9px;
    text-align: center;
    border-radius: 12px;
}
i{
    margin-right: 5px;
    transition: 0.5s;
}
button:hover i{
    margin-right: 15px;
}
.btn-new{
    margin-top: 10%;
    width: 75%;
}
.btn-roll{
   transform: translate(0,60vh);
   margin-top: 0;
   width: 64%;
}
.btn-hold{
    transform: translate(20px,65vh);
    width: 50%;
}
@media only screen and (max-width:450px){
    .panel-1,.panel-2{
        height: 50vh;
        width: 100vw;
        flex-shrink: 0;
        flex: 100%;
        margin-top: 0;
    }
    .container{
        font-size: 50px;
    }
    .panel-2 .playername{
        margin-top: 20%;
    }
    .box{
        margin-top: 20%;
    }
    .playername{
        margin-top: 10%;
    }
}
@media only screen and (max-width: 800px){
    .container{font-size: 60px;}
    button{font-size: 90%;}
}
.winner{
    animation: winner 0.2s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes winner{
    0%{font-size: 70%;}
    50%{font-size: 75%; font-weight: 700; color: rgba(197, 229, 56, 0.808);}
    100%{font-size: 70%;}
}